.post_container {
    border-radius: 10px;
    background-color: #00d8d6;
    padding: 40px;
    width: 95%;
    margin-left: 35px;
}
* {
    box-sizing: border-box;
}

.required_label{
    color: red;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    margin-left: 2px;
    margin-top: 10px;
    margin-right: 0;
    padding: 0;
    position: absolute;
}

.legend{
    border: 0;
    color: #018bdc;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-indent: 5px;
    text-transform: capitalize;
}

.col-75 input[type=text], [type=date], select{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=file]{
    padding: 12px;
    background: #669999;
}
textarea{
    width: 95%;
    height: 150px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 20px 50px;
    display: inline-block;
    font-size: 15px;
}


.col-75 input[type=submit] {
    background-color: #04c086!important;
	width: 15%;
	font-size: 20px;
    color: white;
    padding: 12px 20px;
	margin-top: 12px;
    border: none;
    border-radius: 4px;
	margin-left: 720px;
	text-transform: uppercase;
}

.col-75 input[type="submit"]:hover
{
    cursor: pointer;
    background-color: #ffc107;
    color: #000;
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}