body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}

.footer {
   
   width: 100%;
   height: 223px;
   background:#2e2f31;
   border-top: 3px solid #95a5a6;
   
}
.copyright {
   
   width: 100%;
   height: 45px;
   background: #000;
   
}

#Shape1
{
   border-width: 0;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color :#ccc;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   text-decoration: none;
}
#wb_TextMenu1 span
{
   display: block;
   margin: 0 0 10px 0;
   line-height: 16px;
}
#wb_TextMenu2
{
   background-color: transparent;
   background-image: none;
   color :#ccc;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu2 span
{
   display: block;
   margin: 0 0 10px 0;
   line-height: 16px;
}
#wb_TextMenu3
{
   background-color: transparent;
   background-image: none;
   color :#ccc;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu3 span
{
   display: block;
   margin: 0 0 10px 0;
   line-height: 16px;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border-bottom: 1px #a8a8a8 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border-bottom: 1px #a8a8a8 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border-bottom: 1px #a8a8a8 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#Shape2
{
   border-width: 0;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border-bottom: 1px #a8a8a8 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
   margin-top: 10px;

}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#newsltr{
   margin-top: 5px;
}
#newsLtrBtn{
   background-color: #c33;
   border-style: none;
   margin-top: 5px;
   padding: 4.7px 8px;
   color: #fff;
}

a
{
   color: #0000FF;
}
a:visited
{
   color: #ccc;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 24px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h4
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
   font-style: italic;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h5
{
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
h6
{
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000000;
   background-color: transparent;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
   display: inline;
}
.CustomStyle
{
   font-family: "Courier New";
   font-weight: bold;
   font-size: 16px;
   font-style: normal;
   text-decoration: none;
   color: #000080;
   background-color: transparent;
}
.einput input{
   margin-bottom: 10px;
}